## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Lagoa,PT,39.0500,-27.9833,63.86,92,73,3.04,broken clouds
1,1,Shatrovo,RU,56.5167,64.6333,51.03,89,100,12.12,overcast clouds
2,2,Cape Town,ZA,-33.9258,18.4232,62.28,71,20,6.91,few clouds
3,3,Port Alfred,ZA,-33.5906,26.8910,59.18,88,78,1.99,broken clouds
4,4,Acapulco,MX,16.8634,-99.8901,82.22,65,40,4.61,scattered clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Acapulco,MX,16.8634,-99.8901,82.22,65,40,4.61,scattered clouds
6,6,Rikitea,PF,-23.1203,-134.9692,74.71,74,11,6.33,few clouds
9,9,Andros Town,BS,24.7000,-77.7667,85.96,80,75,17.47,broken clouds
10,10,Vaini,TO,-21.2000,-175.2000,71.76,94,40,3.44,scattered clouds
15,15,Ospitaletto,IT,45.1333,10.6000,88.99,53,28,3.00,scattered clouds
19,19,Kapaa,US,22.0752,-159.3190,75.18,99,100,3.44,overcast clouds
21,21,Lazaro Cardenas,MX,17.9583,-102.2000,80.58,68,97,4.88,overcast clouds
23,23,Puerto Lopez,CO,4.0845,-72.9560,82.85,73,60,1.77,broken clouds
27,27,Mahebourg,MU,-20.4081,57.7000,75.49,78,40,11.50,scattered clouds
28,28,Lufilufi,WS,-13.8745,-171.5986,74.98,79,43,12.37,light rain

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                283
City                   283
Country                283
Lat                    283
Lng                    283
Max Temp               283
Humidity               283
Cloudiness             283
Wind Speed             283
Current Description    283
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Acapulco,MX,16.8634,-99.8901,82.22,65,40,4.61,scattered clouds
6,6,Rikitea,PF,-23.1203,-134.9692,74.71,74,11,6.33,few clouds
9,9,Andros Town,BS,24.7000,-77.7667,85.96,80,75,17.47,broken clouds
10,10,Vaini,TO,-21.2000,-175.2000,71.76,94,40,3.44,scattered clouds
15,15,Ospitaletto,IT,45.1333,10.6000,88.99,53,28,3.00,scattered clouds
19,19,Kapaa,US,22.0752,-159.3190,75.18,99,100,3.44,overcast clouds
21,21,Lazaro Cardenas,MX,17.9583,-102.2000,80.58,68,97,4.88,overcast clouds
23,23,Puerto Lopez,CO,4.0845,-72.9560,82.85,73,60,1.77,broken clouds
27,27,Mahebourg,MU,-20.4081,57.7000,75.49,78,40,11.50,scattered clouds
28,28,Lufilufi,WS,-13.8745,-171.5986,74.98,79,43,12.37,light rain

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Acapulco,MX,82.22,scattered clouds,16.8634,-99.8901,
6,Rikitea,PF,74.71,few clouds,-23.1203,-134.9692,
9,Andros Town,BS,85.96,broken clouds,24.7000,-77.7667,
10,Vaini,TO,71.76,scattered clouds,-21.2000,-175.2000,
15,Ospitaletto,IT,88.99,scattered clouds,45.1333,10.6000,
19,Kapaa,US,75.18,overcast clouds,22.0752,-159.3190,
21,Lazaro Cardenas,MX,80.58,overcast clouds,17.9583,-102.2000,
23,Puerto Lopez,CO,82.85,broken clouds,4.0845,-72.9560,
27,Mahebourg,MU,75.49,scattered clouds,-20.4081,57.7000,
28,Lufilufi,WS,74.98,light rain,-13.8745,-171.5986,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Acapulco,MX,82.22,scattered clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
6,Rikitea,PF,74.71,few clouds,-23.1203,-134.9692,People ThankYou
9,Andros Town,BS,85.96,broken clouds,24.7000,-77.7667,Hanks place
10,Vaini,TO,71.76,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
15,Ospitaletto,IT,88.99,scattered clouds,45.1333,10.6000,B&B Casazze Dream
19,Kapaa,US,75.18,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
21,Lazaro Cardenas,MX,80.58,overcast clouds,17.9583,-102.2000,HOTEL QUINTA ANTIGUA
23,Puerto Lopez,CO,82.85,broken clouds,4.0845,-72.9560,Resguardo Indigena Maguare
27,Mahebourg,MU,75.49,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
28,Lufilufi,WS,74.98,light rain,-13.8745,-171.5986,Leuaina Beach Resort and Spa

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "C:/Users/justi/Class/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [26]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))